{
  "id":"1",
  "name":"password reset",
  "active":"true",
  "templates":[
      {
        "deliveryChannel":"email",
        "outputFormat":"text/html",
        "templateId":"1"
      },
      {
        "deliveryChannel":"sms",
        "outputFormat":"text/plain",
        "templateId":"2"
      }
  ],
  "metadata":
  {
    "date":"1980-12-20"
  }
}
